@media print{

*{-webkit-print-color-adjust:exact;print-color-adjust:exact}

body{background:white;counter-reset:page}

.catalogo{width:210mm;padding:0;background:white}

.pagina{
  width:210mm;
  min-height:297mm;
  margin:0;
  padding:45mm 32mm 40mm;
  page-break-after:always;
  break-after:page;
  box-shadow:none;
}

.main-header,.pdf-bar,.main-footer{display:none}

@page{size:A4;margin:0}

.content-block,p,ul,h2,h3,h4{page-break-inside:avoid}

}
