.menu {
  max-width: 1200px;
  margin: auto;
  padding: 4rem 1rem;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 2rem;
}

.item {
  background: white;
  border-radius: 12px;
  padding: 1rem;
  text-align: center;
}

/* Contenedor flotante */
.whatsapp-float {
position: fixed;
bottom: 20px;
right: 20px;
z-index: 1000;
width: 60px; /* tamaño del círculo */
height: 60px; /* tamaño del círculo */
background-color: #25d366; /* verde estilo WhatsApp */
border-radius: 50%; /* hace el círculo perfecto */
display: flex;
align-items: center;
justify-content: center;
box-shadow: 0 4px 8px rgba(0,0,0,0.2);
transition: transform 0.2s;
}


/* Imagen dentro del círculo */
.whatsapp-float img {
width: 50%; /* ajusta la imagen al 50% del círculo */
height: 50%; /* mantiene proporción */
object-fit: contain;
}


/* Efecto al pasar el mouse */
.whatsapp-float:hover {
transform: scale(1.1);
}
