.menu {
  max-width: 1200px;
  margin: auto;
  padding: 4rem 1rem;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 2rem;
}

.item {
  background: white;
  border-radius: 12px;
  padding: 1rem;
  text-align: center;
}

/* WhatsApp flotante */
.whatsapp-float {
position: fixed;
bottom: 20px;
right: 20px;
z-index: 1000;
display: flex;
align-items: center;
justify-content: center;
transition: transform 0.2s;
}


.whatsapp-float img {
max-width: 50px; /* limita ancho máximo */
max-height: 50px; /* limita alto máximo */
width: auto; /* mantiene proporción */
height: auto;
}


.whatsapp-float:hover {
transform: scale(1.1);
}
