.menu {
  max-width: 1200px;
  margin: auto;
  padding: 4rem 1rem;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 2rem;
}

.item {
  background: white;
  border-radius: 12px;
  padding: 1rem;
  text-align: center;
}
